
/* common properties */
h1 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vw;
    font-weight: 500;
}
h2 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    color: #434146;
}
h3 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 550;
}
ul {
    list-style: none;
    display: flex;
}
.sectionWhite {
    background-color: white;
}

header {
    height: 100px;
    position: static;
    top: 0;
    left: 0;
    display: grid;
    z-index: 10;
    transition: top 0.3s ease-in-out;
}
#nav-bar {
    background: transparent;
    margin-left: 30px;
    margin-top: 15px;
    /*overflow: hidden;*/
}
.container {
    display: grid;
    grid-template-columns: 4fr 1fr .05fr; /*6fr 2fr 3fr*/
    align-items: center;
    overflow: hidden;
}
#logo {
    width: 25%;
}
ul li a {
    padding: 1.5rem;
    font-weight: bold;
    white-space: nowrap; 
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
}
#nav-barOpenKast span {
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    border-radius: 3px;;
    font-size: 14px;
    font-weight: 700;
}
#nav-barOpenKast span:hover {
    /*outline-width: 2px;*/
    padding: 6px 11px 6px 11px;
    margin: -1px;
}
#nav-barPremium span:hover {
    /*text-decoration: underline white;*/
    /*transition-duration: .5s;*/
    border: 2px solid; 
    border-color: transparent transparent white transparent;
    padding: 0 0 3px 0;
    margin: -2px;
}
/* dropdown menus */
a:focus > i {
    transform: rotate(180deg);
    transition-duration: .5s;
}
a > i {
    transform: rotate(0deg);
    transition-duration: .5s;
}
.dropdownAbout {
    display: none; /* change to 'block' to see menu */
    position: absolute;
    top: 65px;
    padding: 15px 45px 15px 15px;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
}

.dropdownAbout a {
    float: none;
    color: #a5a5ae;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdownAbout i {
    transform: none !important;
}
.dropdownAbout a:hover {
    background-color: rgb(236, 236, 236);
    text-decoration: underline;
}

.dropdownHelp {
    display: none; /* change to 'block' to see menu */
    position: absolute;
    top: 65px;
    padding: 15px 45px 15px 15px;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
    margin-left: 120px;
}

.dropdownHelp a {
    float: none;
    color: #a5a5ae;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dropdownHelp i {
    transform: none !important;
}
.dropdownHelp a:hover {
    background-color: rgb(236, 236, 236);
    text-decoration: underline;
}

.dropdownCommunity {
    display: none; /* change to 'block' to see menu */
    position: absolute;
    top: 65px;
    padding: 15px 45px 15px 15px;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
    margin-left: 200px;
}

.dropdownCommunity a {
    float: none;
    color: #a5a5ae;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dropdownCommunity i {
    transform: none !important;
}
.dropdownCommunity a:hover {
    background-color: rgb(236, 236, 236);
    text-decoration: underline;
}

/* body */
body {
    background-color: white;
    background-image: url(assets/gradient-violet-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top;
    background-size: cover;
    height: 100%;
    margin: 0px;
}
/* watchParty */
#watchPartyImage {
    max-width: 46%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 85px 0 0 0;
}
#watchPartyText h1, p {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#watchPartyTextParagraph {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25vw;
    line-height: 28px;
    font-weight: 400;
}
.openKastParentParent {
    display: flex;
    justify-content: center;
}
.openKastParent {
    display: flex;
    justify-content: center;
    flex-direction: row ltr;
    align-items: center;    
    border: solid 2px #FE9000;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #FE9000;
}
.openKastParent:hover {
    border: solid 3px #FE9000;
    margin: -1px;
}
.openKastButton a {
    display: flex;
    text-decoration: none;
}
/* featured */
#featuredInText {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.featuredParent {
    display: flex;
    justify-content: center;
    margin-left: 35px;
    max-height: 340px;
}
.featured {
    max-width: 50%;
    display: flex; /*or inline-flex*/
    flex-direction: row ltr;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
}
#featuredItems {
    flex-shrink: 3;
    min-width: 250px;
    min-height: 165px;
}
#pullQuote {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1vw;
    line-height: 28px;
    font-weight: 100;
    color: #434146;
    font-style: italic;
}
#yahooFinance {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9vw;
    line-height: 6px;
    font-weight: 400;
    color: #434146;
    font-style: italic;
    margin-left: 33%;
}
/* section three */
#sectionThree {
    background-image: url(assets/green-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top;
    background-size: cover;
    height: 100%;
    margin: 0px;
}